<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/workfile_temp.dwt" codeOutsideHTMLIsLocked="false" -->
<!-- DW6 -->
<head>
<!-- Copyright 2005 Macromedia, Inc. All rights reserved. -->
<!-- InstanceBeginEditable name="doctitle" -->
<title>Leading You Up Front</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" href="Templates/mm_travel2.css" type="text/css" />

<!-- InstanceBeginEditable name="head" -->
<style type="text/css">
<!--
.name {
	font-size: 16px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.Team {font-size: 16px; color: #993399; font-weight: bold; }
.STYLE19 {font-size: 16px; font-family: Geneva, Arial, Helvetica, sans-serif; }
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
-->
</style>
<!-- InstanceEndEditable -->
<style type="text/css">
<!--
.STYLE1 {color: #5C743D}
.STYLE2 {color: #993300}
-->
</style>
</head>
<body bgcolor="#FFFFFF">
<table width="950" border="0" align= "center" cellspacing="0" cellpadding="0">
  <tr bgcolor="#D5EDB3">
    <td width="382" colspan="3" rowspan="2"><img src="Templates/mm_health_photo.jpg" alt="Header image" width="382" height="101" border="0" /></td>
    <td width="378" height="63" colspan="3" align="center" valign="bottom" nowrap="nowrap" bgcolor="#D5EDB3" id="logo"><span class="STYLE1">Frontline-PCB China </span>e</td>
    <td width="100%" bgcolor="#D5EDB3">&nbsp;</td>
  </tr>

  <tr bgcolor="#3366CC">
    <td height="35" colspan="3" align="center" valign="top" bgcolor="#D5EDB3" id="tagline"><span class="STYLE2">ShenZhen Office </span></td>
	<td width="100%" bgcolor="#D5EDB3">&nbsp;</td>
  </tr>

  <tr>
    <td colspan="7" bgcolor="#003366"><img src="Templates/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
  </tr>

  <tr bgcolor="#CCFF99">
  <td>&nbsp;</td>
  	<td colspan="7" id="navigation" height="25"><a href="index.html" target="_blank">HOME </a>	</td>
  </tr>
 <tr>
    <td colspan="7" bgcolor="#003366"><img src="Templates/mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
  </tr>

 <tr>
    <td width="165" valign="top" bgcolor="#E6F3FF">
	<table border="0" cellspacing="0" cellpadding="0" width="165" id="navigation">
        <tr>
          <td width="165">&nbsp;<br />
		 &nbsp;<br /></td>
        </tr>
        <tr>
          <td width="165"><a href="http://172.16.100.5/tmtrack/tmtrack.dll?" target="_blank" class="navText">TeamTrack</a></td>
        </tr>
        <tr>
          <td width="165"><a href="https://www12.v1host.com/FrontlinePCB/Default.aspx?menu=DetailTrackingPage" target="_blank" class="navText">VersionOne</a></td>
        </tr>
        <tr>
          <td width="165"><a href="http://pm.igniteoutsourcing.com/projects/qt-porting" target="_blank" class="navText">Redmine</a></td>
        </tr>
        <tr>
          <td><a href="Related/InPlan%20Implementation%20Tools%20Library/Documentation/Default.htm" target="_blank" class="navText">InPlan ITL</a></td>
        </tr>
        <tr>
          <td><a href="http://www.iciba.com/" target="_blank" class="navText">Iciba</a></td>
        </tr>
        <tr>
          <td><a href="https://www.google.com/" target="_blank" class="navText">Google</a></td>
        </tr>
        <tr>
          <td><a href="http://www.baidu.com/" target="_blank" class="navText">Baidu</a></td>
        </tr>
        <tr>
          <td><a href="http://www.frontline-pcb.com/" target="_blank" class="navText">Frontline</a></td>
        </tr>
        <tr>
          <td width="165"><a href="http://www.orbotech.com/" target="_blank" class="navText">Orbotech</a></td>
        </tr>
        <tr>
          <td width="165"><a href="weblink/about.html" class="navText">About  </a></td>
        </tr>
      </table>
 	<br />
  	&nbsp;<br /> 	</td>
    <td width="50"><img src="Templates/mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
    <td width="305" colspan="2" valign="top"><img src="Templates/mm_spacer.gif" alt="" width="305" height="1" border="0" /><br />
	&nbsp;<br />
	&nbsp;<span class="pageName">Your Workfile</span><br />
	<table width="305" height="444" border="0" cellpadding="0" cellspacing="0">
        

		<tr>
          <td height="444" valign="top" class="bodyText"><!-- InstanceBeginEditable name="workfile" -->
            <table width="268" border="1" bordercolor="#0000FF">
              <tr>
                <td width="75" rowspan="5" bordercolor="#0000FF"><span class="Team">InCAM</span></td>
                <td width="55" height="39" align="left" bordercolor="#0000FF" class="name"><span class="name"><a href="\\10.20.30.230\workfile\Billy">Billy</a></span></td>
                <td width="55" align="left" bordercolor="#0000FF" class="name"><span class="name"><a href="\\10.20.30.230\workfile\bruce">Bruce</a></span></td>
                <td width="55" align="left" bordercolor="#0000FF" class="name"><span class="STYLE19"><a href="\\10.20.30.230\workfile\Coline">Coline</a></span></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Jenny">Jenny</a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Jimmy">Jimmy</a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Hamm">Hamm</a></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\martin">Martin</a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Oscar">Oscar</a><a href="\\10.20.30.230\workfile\Roland"></a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Roland">Roland</a><a href="\\10.20.30.230\workfile\Roman"></a></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Roman">Roman</a><a href="\\10.20.30.230\workfile\Ron"></a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Ron">Ron</a><a href="\\10.20.30.230\workfile\Sara"></a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Sara">Sara</a><a href="\\10.20.30.230\workfile\Talyor"></a></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF"><span class="name"><a href="\\10.20.30.230\workfile\Talyor">Talyor</a><a href="\\10.20.30.230\workfile\Timmy"></a></span></td>
                <td align="left" bordercolor="#0000FF"><span class="name"><a href="\\10.20.30.230\workfile\Timmy">Timmy</a><a href="\\10.20.30.230\workfile\Tom"></a></span></td>
                <td align="left" bordercolor="#0000FF"><a href="\\10.20.30.230\workfile\Tom">Tom</a></td>
              </tr>
              <tr>
                <td rowspan="2" bordercolor="#0000FF"><span class="Team">Inplan</span></td>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><span class="name"><a href="\\10.20.30.230\workfile\Charlie">Charile</a></span></td>
                <td align="left" bordercolor="#0000FF" class="name"><span class="name"><a href="\\10.20.30.230\workfile\Judy">Judy</a></span></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Doris">Doris</a></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Jason">Jason</a><a href="\\10.20.30.230\workfile\Jason"></a></td>
                <td align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Murphy">Murphy</a><a href="\\10.20.30.230\workfile\Seven"></a></td>
                <td bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Seven">Seven</a></td>
              </tr>
              <tr>
                <td rowspan="2" bordercolor="#0000FF" class="Team">R&amp;D</td>
                <td height="38" align="left" bordercolor="#0000FF"><span class="name"><a href="\\10.20.30.230\workfile\Flighta">Flighta</a></span></td>
                <td align="left" bordercolor="#0000FF"><span class="name"><a href="\\10.20.30.230\workfile\Robie">Robie</a></span></td>
                <td align="left" bordercolor="#0000FF"><span class="name"><a href="\\10.20.30.230\workfile\Steven">Steven</a></span></td>
              </tr>
              <tr>
                <td height="38" align="left" bordercolor="#0000FF" class="name"><a href="\\10.20.30.230\workfile\Constance">Consta</a></td>
                <td bordercolor="#0000FF">&nbsp;</td>
                <td bordercolor="#0000FF">&nbsp;</td>
              </tr>
            </table>
            <!-- InstanceEndEditable --></td>
        </tr>
      </table>
	  <br />	  </td>
    <td width="50"><img src="Templates/mm_spacer.gif" alt="" width="50" height="1" border="0" /></td>
        <td width="190" valign="top"><br />
		&nbsp;<span class="pageName">QA Docs</span><br />
		<table width="190" height="427" border="0" cellpadding="0" cellspacing="0">
			

			<tr>
			<td height="427" valign="top"><!-- InstanceBeginEditable name="qa-file-edit" -->
			  <table width="115" border="1" bordercolor="#800040">
                <tr>
                  <td width="105" height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\html\QA-docs\Manual.pdf" target="_blank">Manual</a></td>
                </tr>
                <tr>
                  <td height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\html\QA-docs\Defect Points Metrics.pdf" target="_blank">Defect Points</a> </td>
                </tr>
                <tr>
                  <td height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\doc\US">US</a></td>
                </tr>
                <tr>
                  <td height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\doc\std">STD</a></td>
                </tr>
                <tr>
                  <td height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\doc\pdf">G2k/GFX</a></td>
                </tr>
                <tr>
                  <td height="38" bordercolor="#800040" class="name"><a href="\\10.20.30.230\workfile\doc\pdf"></a></td>
                </tr>
            </table>
			  <p><a href="http://172.16.100.5/tmtrack/tmtrack.dll?" target="_blank" class="navText"></a></p>
			  <!-- InstanceEndEditable --></td>
			</tr>
		</table>	</td>
	<td width="100%" valign="top"><br />
&nbsp;<span class="pageName">Related</span><br />
<table width="190" height="427" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="427" valign="top"><!-- InstanceBeginEditable name="others" -->
      <table width="115" border="1" bordercolor="#8080FF">
        <tr>
          <td width="105" height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\versions">Version</a></td>
          </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\Autotest">AutoTest</a></td>
          </tr>
        <tr>
          <td height="38" bordercolor="#8080FF"><a href="\\10.20.30.230\workfile\html\Related\InPlan Implementation Tools Library">InPlan ITL</a></td>
        </tr>
        <tr>
          <td height="38" bordercolor="#8080FF"><span class="name"><a href="\\10.20.30.230\workfile\html\Related\Tools">Tools</a></span></td>
          </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\html\Related\release-versions">release-ver</a></td>
        </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\html\Related\Installer" target="_blank">Installer</a></td>
        </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\html\Related\Linux">Linux</a></td>
        </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile\html\Related\PCS Mobile  Extension List.xlsx">Phone-list</a></td>
        </tr>
        <tr>
          <td height="38" bordercolor="#8080FF" class="name"><a href="\\10.20.30.230\workfile">workfile</a></td>
        </tr>
      </table>
      <p class="bodyText">&nbsp;</p>
      <p>&nbsp;</p>
      <!-- InstanceEndEditable --></td>
  </tr>
</table>
    </td>
 </tr>
  <tr>
    <td width="165">&nbsp;</td>
    <td width="50">&nbsp;</td>
    <td width="167" align="right">All Rights Reserved by  </td>
    <td width="138" align="center"> Frontline-PCB China </td>
    <td width="50">&nbsp;</td>
    <td width="190">&nbsp;</td>
	<td width="100%">&nbsp;</td>
  </tr>
</table>
</body>
<!-- InstanceEnd --></html>
